<%- model_class = SupplyShipment-%>
<div class="page-header">
  <h1><%=t '.title', :default => "Supply Received" %></h1>
</div>
<div class="container">
<div class="row">
<div class="col-md-4">
<table class="table">
  <tbody>
    <tr>
      <td><strong>Supply</strong></td>
      <td><%=@supply_shipment.supply.name%></td>
    </tr>
    <tr>
      <td><strong>Supplier Name</strong></td>
      <td><%=@supply_shipment.supplier.name%></td>
    </tr>
    <tr>
      <td><strong>Received Amount</strong></td>
      <td><%= pluralize @supply_shipment.order_amount, @supply_shipment.supply.unit%></td>
    </tr>
    <tr>
      <td><strong>Received Date</strong></td>
      <td><%= @supply_shipment.ship_date.to_s(:long) if @supply_shipment.ship_date%></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>


<%= link_to t('.back', :default => t("helpers.links.back")),
              supply_shipments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_supply_shipment_path(@supply_shipment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              supply_shipment_path(@supply_shipment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
