<%- model_class = ProductionRun -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container">
<div class="row">
<div class="col-md-4">
<table class="table">
  <tbody>
    <tr>
      <td><strong>Lot Name</strong></td>
      <td><%=@production_run.lot_name%></td>
    </tr>
    <tr>
      <td><strong>Product</strong></td>
      <td><%=@production_run.product.name%></td>
    </tr>
    <tr>
      <td><strong>Producer</strong></td>
      <td><%=link_to @production_run.producer.name, producers_path(@production_run.producer)%></td>
    </tr>
    <tr>
      <td><strong>Mfgd Amount</strong></td>
      <td><%= pluralize @production_run.mfgd_amount, @production_run.product.unit%></td>
    </tr>
    <tr>
      <td><strong>Mfgd Date</strong></td>
      <td><%= @production_run.mfgd_date.to_s(:long) if @production_run.mfgd_date%></td>
    </tr>
    <tr>
      <td><strong>Expiry Date</strong></td>
      <td><%= @production_run.expiry_date.to_s(:long) if @production_run.expiry_date %></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              production_runs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_production_run_path(@production_run), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              production_run_path(@production_run),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<h3 class="display-1">Shipment From <%=@production_run.lot_name%> </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Order Amount</th>
      <th>Return Amount</th>
      <th>Ship Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @production_run.product_shipments.each do |prod_shipment| %>
    <tr>
      <td><%= prod_shipment.customer.name %></td>
      <td><%= prod_shipment.order_amount %></td>
      <td><%= prod_shipment.return_amount%></td>
      <td><%= prod_shipment.ship_date.to_s(:long)%></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_shipment_path(prod_shipment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_shipments_path(prod_shipment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>

<h3 class="display-1">Supplies Used By <%=@production_run.lot_name%></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Supply Name</th>
      <th>Used Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @production_run.supply_consumptions.each do |supply_consumption| %>
    <tr>
      <td><%= supply_consumption.supply.name %></td>
      <td><%= supply_consumption.used_amount%></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supply_consumption_path(supply_consumption), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supply_consumption_path(supply_consumption),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>

