<%- model_class = ProductShipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Order Amount</th>
      <th>Return Amount</th>
      <th>Ship Date</th>
      <th>Lot Name</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @product_shipments.each do |product_shipment| %>
      <tr>
        <td><%= product_shipment.customer.name %></td>
        <td><%= product_shipment.order_amount %></td>
        <td><%= product_shipment.return_amount %></td>
        <td><%= product_shipment.ship_date.to_s(:long) if product_shipment.ship_date %></td>
        <td><%= product_shipment.production_run.lot_name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_shipment_path(product_shipment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_shipment_path(product_shipment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_shipment_path,
            :class => 'btn btn-primary' %>
