<%- model_class = ProductShipment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="container">
<div class="row">
<div class="col-md-4">
<table class="table">
  <tbody>
    <tr>
      <td><strong>Customer Name</strong></td>
      <td><%=@product_shipment.customer.name%></td>
    </tr>
    <tr>
      <td><strong>Lot Name</strong></td>
      <td><%=@product_shipment.production_run.lot_name%></td>
    </tr>
    <tr>
      <td><strong>Order Amount</strong></td>
      <td><%= pluralize @product_shipment.order_amount, @product_shipment.production_run.product.unit%></td>
    </tr>
    <tr>
      <td><strong>Return Amount</strong></td>
      <td><%= pluralize @product_shipment.return_amount, @product_shipment.production_run.product.unit%></td>
    </tr>
    <tr>
      <td><strong>Ship Date</strong></td>
      <td><%= @product_shipment.ship_date.to_s(:long) if @product_shipment.ship_date%></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              product_shipments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_shipment_path(@product_shipment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_shipment_path(@product_shipment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
