<h1>Dashboard</h1>
<div class="panel panel-primary">
  <div class="panel-heading">Product Inventory</div>
  <div class="panel-body">
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Amount Left</th>
      <th>Amount Shipped</th>
      <th>Amount Return</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%=product.name%></td>
      <td><%=product.left_amount%> <%= product.unit%></td>
      <td><%=product.total_shipments%> <%= product.unit%></td>
      <td><%=product.total_returns%> <%= product.unit%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Supplies Inventory</div>
  <div class="panel-body">
<table class="table table-bordered table-stripped table-hover">
  <thead>
    <tr>
      <th>Supply</th>
      <th>Amount Left</th>
      <th>Amount Rcvd</th>
      <th>Amount Consumed</th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
    <tr>
      <td><%=supply.name%></td>
      <td><%=supply.left_amount%> <%= supply.unit %></td>
      <td>51 kg</td>
      <td><%= supply.total_consumptions%> <%= supply.unit%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
