<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container">
<div class="row">
<div class="col-md-4">
<table class="table">
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><%=@product.name%></td>
    </tr>
    <tr>
      <td><strong>Amount Left</strong></td>
      <td><%= pluralize(@product.left_amount, @product.unit)%></td>
    </tr>
    <tr>
      <td><strong>Adjust</strong></td>
      <td><%= pluralize(@product.adjust, @product.unit)%></td>
    </tr>
    <tr>
      <td><strong>Comment</strong></td>
      <td><%=@product.comment%></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

<h2 class="display-1">Production Run</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Lot Name</th>
      <th>Producer</th>
      <th>Mfgd Amount</th>
      <th>Mfgd Date</th>
      <th>Expiry Date</th>
    </tr>
  </thead>
  <tbody>
    <% @product.production_runs.each do |prod_run| %>
    <tr>
      <td> <%= link_to prod_run.lot_name, production_run_path(prod_run) %> </td>
      <td> <%= prod_run.producer.name %> </td>
      <td> <%= prod_run.mfgd_amount %> <%= @product.unit%> </td>
      <td> <%= prod_run.mfgd_date.to_s(:long) %> </td>
      <td> <%= prod_run.expiry_date.to_s(:long) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
