<ul class="nav navbar-nav">
  <li><a href=<%=home_show_path%>>Home</a></li>

 	<li class="dropdown">
 	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items <b class="caret"></b></a>
 	  <ul class="dropdown-menu">
      <li><a href=<%=products_path%>>Products</a></li>
	    <li><a href=<%=supplies_path%>>Supplies</a></li>
	  </ul>        
  </li>

  <li class="dropdown">
 	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts <b class="caret"></b></a>
   	<ul class="dropdown-menu">
		  <li><a href=<%=customers_path%>>Customers</a></li>
		  <li><a href=<%=suppliers_path%>>Suppliers</a></li>
	  </ul>        
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
    <ul class="dropdown-menu">
	    <li><a href=<%=product_shipments_path%>>Product Shipments</a></li>
		  <li><a href=<%=supply_shipments_path%>>Supplies Recieved</a></li>
		</ul>        
  </li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Production <b class="caret"></b></a>
   	<ul class="dropdown-menu">
	    <li><a href=<%=production_runs_path%>>Production Runs</a></li>
		  <li><a href=<%=supply_consumptions_path%>>Supplies Used</a></li>
			<li><a href=<%=producers_path%>>Producers</a></li>
    </ul>        
	 </li>


</ul>
